Pods/
*.xcscheme

*.xcuserstate

SkyFighting.xcodeproj/xcuserdata/lxx.xcuserdatad/xcschemes/xcschememanagement.plist

*.xcuserstate


SkyFighting.xcworkspace/xcuserdata/lxx.xcuserdatad/xcdebugger/
*.xcbkptlist
